<!DOCTYPE html>
<html lang="en">
<head>
  <title>LPL - Menu</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/shoppingcart.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
<body>
  <%- include('./partials/_header'); %>
  <div class="main-menu-mybtn">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary"><a class="text_mybtn" href="/menu">Pizza</a></button>
      <button type="button" class="btn btn-secondary"><a class="text_mybtn" href="/salad">Salad</a></button>
      <button type="button" class="btn btn-secondary"><a class="text_mybtn" href="/pop">Pop</a></button>
    </div>
    <br>
  </div>
  <% for(var i=0; i < templateVars.length; i++) { %>
  <div data-prodid="<%= templateVars[i].id %>" data-prodname="<%= templateVars[i].product_name %>" data-description="<%= templateVars[i].description %>" data-price="<%= templateVars[i].price %>" class="card" style="height: 34rem; width: 18rem; padding: 20px; float: left; margin-left: 20px;">
    <img src="<%= templateVars[i].product_image %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= templateVars[i].product_name %></h5>
      <p class="card-text"><%= templateVars[i].description %></p>
      <p class="card-text">$<%= templateVars[i].price %></p>
      <!-- <p> <%= templateVars[i].id %></p> -->
    </div>
    <a href="#" class="btn btn-primary add-to-cart">Add to order</a>
  </div>
  <% } %>
</body>
</html>
